* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.container{
    background-color: #CCD5AE;
}

.navbar-brand{ background: transparent;}

$carousel-transition-duration: :not();